<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MY_REG_CON" connectionString="Data Source=.;Initial Catalog=Registration; User Id=sa ;Password=Soumya@123;Integrated Security=False"/>
	</connectionStrings>
</configuration>